<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= profile.gamertag %>'s Xbox Profile | Xbox Live Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Xbox Live Achievements using Xbox Profiles.">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="header">
        <h1><a href="/">Xbox Profiles</a></h1>
    </div>
    <div class="user-header">
        <div class="avatar">
            <img src="<%= profile.avatar %>" alt="" height="70" width="70"> 
        </div>
        <div class="username">
            <span><%= profile.gamertag %>'s Xbox Profile</span>
            <br>
            <span class="stat"> Gamerscore: <%= profile.gamerScore %> </span>
        </div>
    </div>

    <div class="user-games">
        <table id="gamesTable">
            <tbody>
                <% for(var i=0; i<profile.Games.length; i++) {%>
                <tr>
                    <td>
                        <a class="game" href="/<%=profile.gamertag%>/achievements/<%=profile.Games[i].name.replace(/\s+/g, '-').replace(/\:/g, '').toLowerCase();%>/<%=profile.Games[i].titleId%>">
                        <%= profile.Games[i].name %>
                        </a>
                        <div class="progress">
                           <span>Achievements Unlocked: <%= profile.Games[i].earnedAchievements %></span>
                            <br>
                            <span><%= profile.Games[i].currentGamerscore %> / <%= profile.Games[i].maxGamerscore %> Gamerscore</span>
                        </div>
                    </td>

                    <td>
                        <div class="platform">
                            <%= profile.Games[i].platform %>
                        </div> 
                    </td>

                    <td>
                        <div class="lastunlock">
                            <%= profile.Games[i].lastUnlock %>
                        </div> 
                    </td>


                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>

</body>

<footer>
    <div class="footer">
                <div class="disclaimer">
                    <p>Xbox Profiles is not affiliated with Microsoft in any way
                        <br>
                    © 2020 George Ashton</p>
               
                </div>
                <div class="links">
                    <a class="contact-us" href="mailto:contact@123.com">Contact Us</a>
                    <bullet>•</bullet>
                    <a class="terms" href="terms.html">Terms & Conditions</a>
                    <bullet>•</bullet>
                    <a class="privacy" href="privacy.html">Privacy Policy</a>
                </div>
        </div>
</footer>
</html>