<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= profile.gamertag %>'s Xbox Profile | Xbox Live Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Xbox Live Achievements using Xbox Profiles.">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="header">
        <h1><a href="/">Xbox Profile</a></h1>
    </div>
    <div class="user-header">
        <div class="avatar">
            <img src="<%= profile.avatar %>" alt="" height="90" width="90"> 
        </div>
        <div class="username">
            <span><%= profile.gamertag %></span>
            <div class="gamerscore">
            <img src="/images/Gamerscore-32x32.webp" alt="" height="20" width="20"> <span><%= profile.gamerScore %></span>  
            </div>
        </div>
       
        <div class="stats">
            <span class="stat"> <%= profile.Games.length %>
                <span>Games</span>
            </span>
            <span class="stat"> <%= profile.completedGames %> 
                <span>100% Games</span>
            </span>
            <span class="stat"> <%= profile.avgCompletion %>%
                <span>Avg Completion Rate</span>
            </span>
            <span class="stat"> <%= profile.totalAchievements %>
                <span>Total Achievements</span>
            </span>
            <span class="stat"> <img src="/images/Gamerscore-32x32.webp" alt="" height="30" width="30"> <%= profile.unearnedGamerscore %> 
                <span>Unearned Gamerscore</span>
            </span>
        </div>
    </div>

    <div class="user-games">
        <table class="games-table">
            <tbody>
                <% for(var i=0; i<profile.Games.length; i++) {%>
                <tr>
                    <td class="artwork-cell">
                    <div>
                        <a class="game" href="/<%=profile.gamertag%>/achievements/<%=profile.Games[i].name.replace(/\s+/g, '-').replace(/\:/g, '').toLowerCase();%>/<%=profile.Games[i].titleId%>">
                        <img src="<%= profile.Games[i].displayImage %>" alt="" height="200" width="200" loading="lazy"> 
                        </a>
                    </div>
                    </td>
                    <td>
                        <a class="game" href="/<%=profile.gamertag%>/achievements/<%=profile.Games[i].name.replace(/\s+/g, '-').replace(/\:/g, '').toLowerCase();%>/<%=profile.Games[i].titleId%>">
                        <%= profile.Games[i].name %>
                        </a>
                        <div class="platform">
                            <%= profile.Games[i].platform %>
                        </div> 
                        <div class="lastPlayed">
                            <img src="/images/backward-time.png" alt="" height="13" width="13"> <%= moment(profile.Games[i].titleHistory.lastTimePlayed.substring(0,10)).format('ddd, Do MMM YYYY') %>
                        </div>           
                    </td>
                    <td>
                       <div class="achievement-progress">
                        <span><%= profile.Games[i].achievement.currentAchievements %> <img src="/images/achievement_icon.png" alt="" height="13" width="13"></span>
                       </div>
                    </td>
                    <td>
                        <div class="gamerscore-progress">
                            <span><%= profile.Games[i].achievement.currentGamerscore %> / <%= profile.Games[i].achievement.totalGamerscore %> <img src="/images/Gamerscore-32x32.webp" alt="" height="15" width="15"></span>
                        </div>
                     </td>
                    <td class="progress-bar-cell">
                        <div class="progress-bar">
                            <span><%= profile.Games[i].achievement.progressPercentage %>%</span>
                            <div class="bar" style="width: <%= profile.Games[i].achievement.progressPercentage %>%"></div>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer">
                <div class="disclaimer">
                    <p>Xbox Profile is not affiliated with Microsoft in any way
                        <br>
                    © 2020 George Ashton</p>
               
                </div>
                <div class="links">
                    <a class="contact-us" href="mailto:contact@123.com">Contact Us</a>
                    <bullet>•</bullet>
                    <a class="terms" href="terms.html">Terms & Conditions</a>
                    <bullet>•</bullet>
                    <a class="privacy" href="privacy.html">Privacy Policy</a>
                </div>
        </div>
</footer>
</html>