<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= profile.gamertag %>'s <%= game.name %> Achievements | Xbox Profile </title>
    <meta charset="UTF-8">
    <meta name="Description" content = "<%= profile.nickname %>'s <%= game.gameName %> Xbox Achievements.">    
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/achievements.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="header">
        <h1><a href="/">Xbox Profile</a></h1>
    </div>

    <div class="user-header">
        <div class="avatar">
            <img src="<%= profile.avatar %>" alt="" height="90" width="90"> 
        </div>
        <div class="username">
            <span><%= profile.gamertag %></span>
            <div class="title">
                <span><%= game.name %></span>
            </div>
            <div class="progress">
                <span><%= game.achievement.currentGamerscore %> / <%= game.achievement.totalGamerscore %>  
                    <picture> 
                    <source srcset="/images/Gamerscore-32x32.webp", type="image/webp"> 
                    <source srcset="/images/Gamerscore-32x32.png" type="image/png">
                    <img src="/images/Gamerscore-32x32.webp" alt="G" height="15" width="15">
                    </picture> 
                </span>
            </div>
            <div class="achievement-progress">
                <span><%= game.achievement.currentAchievements %> <img src="/images/achievement_icon.png" alt="G" height="12" width="12"></span>
               </div>
        </div>
      </div>

    <div class="game-header">
            <div class="logo">
                <img src="<%= game.displayImage %>" alt="<%= game.name %>" height="150" width="184"> 
            </div>
            <div class="progress-bar">
                <span><%= game.achievement.progressPercentage %>%</span>
                <div class="bar" style="width: <%= game.achievement.progressPercentage %>%"></div>
            </div>
        </div>

        <table class="achievements-table">
            <tbody>
                <% for(var i=0; i <achievements.length; i++) {%>
                    <tr class="achievement-row">
                        <td class="achievement-image">
                            <% if (game.platform == "Xbox 360") { %>
                            <img src="<%= achievements[i].imageUnlocked %>" alt="<%= achievements[i].name %>" height="110" width="120" loading="lazy"> 
                            <% } else { %>
                            <img src="<%= achievements[i].mediaAssets[0].url %>" alt="<%= achievements[i].name %>" height="110" width="200" loading="lazy"> 
                            <% } %>
                        </td>
                        <td class="achievement-details">
                            <div class="name">
                            <%= achievements[i].name %>
                            </div>
                            <div class="description">
                            <%= achievements[i].description %>
                            </div>
                        </td>
                        <td class="reward">
                            <div class="gamerscore">
                            <% if (game.platform == "Xbox 360") { %>
                                <%= achievements[i].gamerscore %>   
                                <picture> 
                                    <source srcset="/images/Gamerscore-32x32.webp", type="image/webp"> 
                                    <source srcset="/images/Gamerscore-32x32.png" type="image/png">
                                    <img src="/images/Gamerscore-32x32.webp" alt="G" height="15" width="15">
                                </picture> 
                            <% } else { %>
                                <%= achievements[i].rewards[0].value %> 
                                <picture> 
                                    <source srcset="/images/Gamerscore-32x32.webp", type="image/webp"> 
                                    <source srcset="/images/Gamerscore-32x32.png" type="image/png">
                                    <img src="/images/Gamerscore-32x32.webp" alt="G" height="15" width="15">
                                </picture> 
                            <% } %>
                        </div>
                        </td>
                        <td class="timestamp">
                            <% if (game.platform == "Xbox 360") { %>
                                <% if (achievements[i].unlocked == true) { %> 
                                    <div class="date">
                                        <%= moment(achievements[i].timeUnlocked.substring(0,10)).format('ddd, Do MMM YYYY') %>
                                        </div>
                                        <div class="time">                                
                                        <%= moment(achievements[i].timeUnlocked.substring(12,19), 'HH:mm:ss').format('HH:mm:ss A') %>
                                        </div>
                                    <% } %>
                            <% } else { %>
                                <% if (achievements[i].progressState == "Achieved") { %>
                                <div class="date">
                                <%= moment(achievements[i].progression.timeUnlocked.substring(0,10)).format('ddd, Do MMM YYYY') %>
                                </div>
                                <div class="time">                                
                                <%= moment(achievements[i].progression.timeUnlocked.substring(11,19), 'HH:mm:ss').format('HH:mm:ss A') %>
                                </div>
                                <% } %>
                         <% } %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
</body>

<footer>
    <div class="footer">
                <div class="disclaimer">
                    <p>Xbox Profile is not affiliated with Microsoft in any way
                        <br>
                    © 2020 George Ashton</p>
                </div>
                <div class="links">
                    <a class="contact-us" href="mailto:contact@123.com">Contact Us</a>
                    <bullet>•</bullet>
                    <a class="terms" href="terms.html">Terms & Conditions</a>
                    <bullet>•</bullet>
                    <a class="privacy" href="privacy.html">Privacy Policy</a>
                </div>
        </div>
</footer>
</html>